
HW2/mapreducetemp/part-tmp-1.csv
HW2/mapreducetemp/part-tmp-10.csv
HW2/mapreducetemp/part-tmp-11.csv
HW2/mapreducetemp/part-tmp-12.csv
HW2/mapreducetemp/part-tmp-13.csv
HW2/mapreducetemp/part-tmp-14.csv
HW2/mapreducetemp/part-tmp-15.csv
HW2/mapreducetemp/part-tmp-16.csv
HW2/mapreducetemp/part-tmp-17.csv
HW2/mapreducetemp/part-tmp-18.csv
HW2/mapreducetemp/part-tmp-19.csv
HW2/mapreducetemp/part-tmp-2.csv
HW2/mapreducetemp/part-tmp-3.csv
HW2/mapreducetemp/part-tmp-34.csv
HW2/mapreducetemp/part-tmp-35.csv
HW2/mapreducetemp/part-tmp-36.csv
HW2/mapreducetemp/part-tmp-37.csv
HW2/mapreducetemp/part-tmp-38.csv
HW2/mapreducetemp/part-tmp-39.csv
HW2/mapreducetemp/part-tmp-4.csv
HW2/mapreducetemp/part-tmp-40.csv
HW2/mapreducetemp/part-tmp-5.csv
HW2/mapreducetemp/part-tmp-6.csv
HW2/mapreducetemp/part-tmp-7.csv
HW2/mapreducetemp/part-tmp-8.csv
HW2/mapreducetemp/part-tmp-9.csv
HW2/CSVs_Folder/myCSV0.csv
HW2/CSVs_Folder/myCSV1.csv
HW2/CSVs_Folder/myCSV10.csv
HW2/CSVs_Folder/myCSV11.csv
HW2/CSVs_Folder/myCSV12.csv
HW2/CSVs_Folder/myCSV13.csv
HW2/CSVs_Folder/myCSV14.csv
HW2/CSVs_Folder/myCSV15.csv
HW2/CSVs_Folder/myCSV16.csv
HW2/CSVs_Folder/myCSV17.csv
HW2/CSVs_Folder/myCSV18.csv
HW2/CSVs_Folder/myCSV19.csv
HW2/CSVs_Folder/myCSV2.csv
HW2/CSVs_Folder/myCSV3.csv
HW2/CSVs_Folder/myCSV4.csv
HW2/CSVs_Folder/myCSV5.csv
HW2/CSVs_Folder/myCSV6.csv
HW2/CSVs_Folder/myCSV7.csv
HW2/CSVs_Folder/myCSV8.csv
HW2/CSVs_Folder/myCSV9.csv
.DS_Store
.DS_Store
.DS_Store
